<!DOCTYPE html>
<html lang="de" ng-app="bookview_App">
<head>

  <meta charset="utf-8">
  <title>openscreencast - books</title>
  <meta name="description" content="openscreencast - books">
  <meta name="author" content="openscreencast">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/kube.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">

  <script src="js/angular.js"></script>
  <script src="js/data.js"></script>	
  <script src="js/app.js"></script>

</head>
<body>

  <div ng-controller="bookviewController">

  <div class="row">
	<div class="col col-1" style="background-color: #0079bf;"></div>
  	<div class="col col-10" style="background-color: #0079bf; padding-top: 30px; padding-bottom: 20px;text-align:center; color: #fff">
	<!--<span ng-repeat="book_category_i in book_category_options"><button ng-click="change_book_category(book_category_i)">{{book_category_i}}</button> &nbsp; </span>--><h2><i class="fa fa-coffee" aria-hidden="true"></i> Lernstube.openscreencast</h2>
		<p>IT - kleine Tutorials, Videos und Quiz zum Lernen</p>
		<div class="row align-center">
    		<div class="col col-2"><p style="text-align:center;"><input ng-model="suche" placeholder="Suche" style="background-color: white; padding: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;"></p></div>
		</div>
	</div>
	<div class="col col-1" style="background-color: #0079bf;"></div>
  </div>
    	
    <!-- alle Bücher auflisten -->
    <!--
    <div class="row">
      <div class="col" style="text-align: center">
        <span ng-repeat="book_i in book_options"><button ng-click="change_book(book_i)">{{book_i}}</button></span>
      </div>
    </div> -->
    
    <!-- alle Buchkategorien auflisten -->
  
    <!-- Inhalt auflisten -->

    <div class="row" style="margin-top: 3%">
	<div class="col col-1"></div>
	<div class="col col-10">
    		<div class="row gutters">
    			<div class="col col-4" ng-repeat="book_i in bookview_data_for_repeat | filter:suche">
        
            			<div class="book" style="border: 1px solid #ccc; background-image: url('{{book_i.image}}'); background-position: left top; background-size: contain; background-repeat: no-repeat;">
				              			
				<!-- <p><i class="fa fa-{{book_i.image}} fa-5x" aria-hidden="true"></i></p> -->
                		<p class="bookname"><strong>{{book_i.name}}</strong></p>
                		<p class="bookdescription">{{book_i.description}}</p>
				<p><a href="{{book_i.url}}"><button class="button small" style="color: #eee;">Start</button></a></p>
				<p style="text-align: left; color: #999; font-size: 0.95em;"><i class="fa fa-{{book_i.book}} fa-1x" aria-hidden="true"></i> {{book_i.time}}</p>   
            			</div>
			</div>
		</div>
	</div>
        <div class="col col-1"></div>
  </div>

  <div class="row" style="margin-top: 3%">
	<div class="col col-1"></div>
	<div class="col col-10" style="border-top: solid 1px #ccc; font-size: 0.7em; text-align: center;">
	Icons: <a href="http://fontawesome.io">Font Awesome</a> created by <a href="https://twitter.com/davegandy">Dave Gandy</a>, licensed under <a href="http://scripts.sil.org/OFL">SIL OFL 1.1</a>, Code licensed under <a href="http://opensource.org/licenses/mit-license.html">MIT License</a></div>
        <div class="col col-1"></div>
  </div>

  </div> <!-- // Ende container -->



</body>
</html>
